*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f5f5f5;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.admin-box{
width:100%;
max-width:450px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.admin-box h1{
text-align:center;
margin-bottom:25px;
color:#232f3e;
font-size:28px;
}

.admin-box input{
width:100%;
padding:14px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:6px;
font-size:16px;
outline:none;
}

.admin-box button{
width:100%;
padding:14px;
border:none;
background:#232f3e;
color:white;
font-size:16px;
cursor:pointer;
border-radius:6px;
font-weight:600;
}

.admin-box button:hover{
background:#ff9900;
}

#msg{
margin-top:15px;
text-align:center;
font-weight:600;
color:green;
}